# Homework - 1 pandas series and data frames

In [1]:
import pandas as pd
import numpy as np

In [10]:
# A numpy array
arr = np.random.randn(4) # random values from std normal distribution
print(type(arr))
print(arr, "\n")
 
# A pandas series made from the previous array
s = pd.Series(arr)
print(type(s))
print(s)

<class 'numpy.ndarray'>
[-0.74490045  0.60715271  0.42881823  1.49663856]

<class 'pandas.core.series.Series'>
0   -0.744900
1    0.607153
2    0.428818
3    1.496639
dtype: float64

In [11]:
# s = pd.Series(data, index=index)

In [4]:
# A series from a numpy array 
pd.Series(np.arange(3), index=[2023, 2024, 2025])

2023    0
2024    1
2025    2
dtype: int64

In [12]:
# A series from a list of strings with default index
pd.Series(['EDS 220', 'EDS 222', 'EDS 223', 'EDS 242'])

0    EDS 220
1    EDS 222
2    EDS 223
3    EDS 242
dtype: object

In [17]:
# Construct dictionary
d = {'key_0':2, 'key_1':'3', 'key_2':5}

print(d)
# Initialize series using a dictionary
pd.Series(d)

{'key_0': 2, 'key_1': '3', 'key_2': 5}

key_0    2
key_1    3
key_2    5
dtype: object

In [25]:
pd.Series(3.0, index = ['A', 'B', 'C'])

A    3.0
B    3.0
C    3.0
dtype: float64

## Simple operations
Arithmetic operations work on series and so most NumPy functions. For example:

In [26]:
# Define a series
s = pd.Series([98,73,65],index=['Andrea', 'Beth', 'Carolina'])

# Divide each element in series by 10
print(s /10, '\n')

# Take the exponential of each element in series
print(np.exp(s), '\n')

# Original series is unchanged
print(s)

Andrea      9.8
Beth        7.3
Carolina    6.5
dtype: float64

Andrea      3.637971e+42
Beth        5.052394e+31
Carolina    1.694889e+28
dtype: float64

Andrea      98
Beth        73
Carolina    65
dtype: int64

We can also produce new pandas.Series with True/False values indicating whether the elements in a series satisfy a condition or not:

In [27]:
s > 70

Andrea       True
Beth         True
Carolina    False
dtype: bool

## Identifying missing values
In pandas we can represent a missing, NULL, or NA value with the float value numpy.nan, which stands for “not a number”. Let’s construct a small series with some NA values represented this way:

In [28]:
# Series with NAs in it
s = pd.Series([1, 2, np.nan, 4, np.nan])
s

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

In [29]:
# Check if series has NAs
s.hasnans

True

In [35]:
s.isna()

A    False
B    False
C    False
D    False
dtype: bool

## Check-in
The integer number -999 is often used to represent missing values. Create a pandas.Series named s with four integer values, two of which are -999. The index of this series should be the the letters A through D.
In the pandas.Series documentation, look for the method mask(). Use this method to update the series s so that the -999 values are replaced by NA values. HINT: check the first example in the method’s documentation.

In [34]:
# Creating a Series with two -999 used for missing values
s = pd.Series([-999, -999, 58, 19], index=["A", "B", "C", "D"])
print(s)

A   -999
B   -999
C     58
D     19
dtype: int64

In [36]:
# Replacing -999 with NA using mask()
s = s.mask(s == -999)
print(s)

A     NaN
B     NaN
C    58.0
D    19.0
dtype: float64

## Creating a pandas.DataFrame

In [37]:
# Initialize dictionary with columns' data 
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([3.1, 3.2, 3.3]),
     }

# Create data frame
df = pd.DataFrame(d)
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

In [38]:
# Change index
df.index = ['a','b','c']
df

   col_name_1  col_name_2
a           0         3.1
b           1         3.2
c           2         3.3


## Check-in
We can access the data frame’s column names via the columns attribute. Update the column names to C1 and C2 by updating this attribute.

In [47]:
# Updating columns names

df.rename(columns={'col_name_1':'C1', 'col_name_2': 'C2' })

   C1   C2
a   0  3.1
b   1  3.2
c   2  3.3

## Make a summary of the lesson. What are the most important concepts or ideas?
- A pandas.Series having an index is the main difference between a pandas.Series and a NumPy array

### Simple operations
Arithmetic operations work on series and so most NumPy functions. For example:

- Define a series

s = pd.Series([98,73,65],index=['Andrea', 'Beth', 'Carolina'])

- Divide each element in series by 10

print(s /10, '\n')


- Take the exponential of each element in series

print(np.exp(s), '\n')

### Identifying missing values
- Check if series has NAs

s.hasnans

s = s.mask(s == -999)
print(s)

### Explain the relation between pandas.Series and pandas.DataFrame 
Eeach column of a pandas.DataFrame is a pandas.Series. The pandas.DataFrame is a dictionary of pandas.Series, with each column name being the key and the column values being the key’s value

### Construct simple pandas.Series and pandas.DataFrame from scratch using different initalization methods

pd.Series(3.0, index = ['A', 'B', 'C'])

 Initialize dictionary with columns' data 
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([3.1, 3.2, 3.3]),
     }

- Create data frame

df = pd.DataFrame(d)
df